body{
    width: 100%;
    font-family: "Playwrite DE Grund", cursive;
    margin: 0;
    background-color: rgb(53, 51, 51);
    color: aliceblue;
    line-height: 230%;
}
::selection{
    background-color: cadetblue;
}
section{
    background-color: rgb(53, 51, 51);
    position: relative;
    z-index: 250;
}
.colors-section,.reason-section{
    padding:100px 0;
}
.herosection{
    height: 400vh;
    position: relative;
}
.hero{
    height: 100vh;
    position: sticky;
    top: 0;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.wrapper{
    position: sticky;
    width: 100%;
    height: 100%;
}
.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 5; 
}
.logo-div{
    position: absolute;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.l-d-top{
    margin-bottom: -3px;
}
.logo-div-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo {
    transition: opacity 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); 
}  
.hidden {
    opacity: 0; 
    pointer-events: none;
}  
.logo{
    opacity: 1;
}
.up,.down{
    width: 32vw;  /* this  */
    height: 7vw; /* this  */
}
.up{
    padding-left: 10vw; /* this  */
}
.down{
    padding-right: 5vw; /* this  */
}
.desk, .flexi{
    width: 45vw; /* this  */
}
.scroll-text{
    position: fixed;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 0;
    white-space: nowrap;
    z-index: 6;
}
.scroll-text span.fl {
    position: relative;
    display: inline-block;
    font-size: 15vw;
    line-height: 15vw;
    font-family: "Saira", sans-serif;
    font-weight: 900;
}
h1, h2, h3{
    font-family: "Saira", sans-serif;
    font-weight: 900; 
    line-height: 130%;
}
h1{
    text-transform: uppercase;
    font-size: 6vw;
    margin: 40px 0;
}
h2{
    font-size: 3vw;
    margin: 20px 10px;
    font-weight: 150%;
}
h3{
    margin: -40px 0;
    opacity: 0.2;
    font-size: 210px;
    margin-left: -150px;
    position: absolute;
    z-index: 2;
}
.wrapper h1,.wrapper p{
    position: relative;
    z-index: 6;
}
.price{
    text-align: center;
    background-color: cadetblue;
    border-radius: 4px;
    margin: 0 30vw;
    font-style: italic;
    font-size: 3vw;
    line-height: 180%;
}
p {
    font-size: 20px;
    max-width: 900px;
    font-weight: 100;
}
.title, .end-title{
    font-size: 9vw;
    text-align: center;
    font-weight: 900;
    z-index: 6;
}  
.hero-end{
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    top: 50px;
}
.hero-end-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 6; 
}
.end-title, .hero-end button{
    z-index: 6;
}
.subhead{
    font-size: 5vw;
    text-align: center;
}
.scroll-text.bottom {
    font-weight: 600;
}
.scroll-text.top{
    bottom: -31vw;
}
.reason-section h1, .colors-section h1{
    padding: 0 20px;
}

/* background image reveal */
.reason-section {
    display: flex;
    flex-direction: column;
    padding: 250px 0;
}
.reason-container {
    display: flex;
    align-items: center;
    width: 100vw;
}
.reason {
    height: 70vh;
    width: 70vw;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin: 20px;
    border-radius: 30px;
    box-shadow: #00000052 5px 3px 20px 3px;
    color: rgb(0, 0, 0);
    transition: ease-in-out 0.5;
}
.reason-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    max-width: 25vw; 
    padding-right: 20px;
}
.a {
    background-image: 
        radial-gradient(circle, rgba(255, 255, 255, 0.1) 30%, rgb(255, 255, 255) 100%), 
        url('assets/717r1XtzMGL._AC_UF894\,1000_QL80_.jpg');
}
.d {
    background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 30%, rgb(255, 255, 255) 100%), 
    url('assets/nickccal-standing-desk-12.jpeg');
}
.c {
    background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 30%, rgb(255, 255, 255) 100%), 
    url('assets/watchclos-standing-desk.jpg'); 
}
.b {
    background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 30%, rgb(255, 255, 255) 100%), 
    url('assets/sequel-lift-standing-desk-6152-BDI-executive-sit-stand-desk-walnut-hero-3200.webp');
}
.e {
    background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 30%, rgb(255, 255, 255) 100%), 
    url('assets/drakefrancissir-standing-desk-02.jpg'); 
}
.f {
    background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 30%, rgb(255, 255, 255) 100%), 
    url('assets/thomaswde-standing-desk-08.jpg'); 
}
.reason h2, .reason p {
    margin: 0;
    padding: 20px;
}
.backlight{
    z-index: 1;
    padding: 20px;
    border-radius: 10px; 
}
.backlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    z-index: -1; 
    border-radius: 10px; 
}
button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
button:active {
    color: #000
}
button:active:after {
    background: transparent;
}
button:hover:before {
    opacity: 1;
}
button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* youtube */
video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.verticle{
    display: none;
}
.horizontal{
    display: block;
}
.products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 150px 50px;
    row-gap: 90px;
}
.product-preview {
    width: 90vw;
    margin: 0 auto;
}
.product-preview h2{
    margin: 10px 0;
}
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slides {
    display: flex;
    width: 100%; 
}
.product-image,.product-video {
    border-radius: 10px;
    min-width: 100%;
    height: 60vh;
    scale: 1;
    transition: ease-in-out 0.8s;
    object-fit: contain;
}
.product-image{
    background-color: white;
}
.product-video{
    pointer-events: none;
}
.product-image:hover{
    scale: 1.1;
}
.swiper-arrow{
    position: absolute;
    height: 100%;
    top:0;
    background-color: #ffffff00;
    color:#00ffd5;
    font-size: 50px;
    font-weight: 900;
    transition: ease-in-out 0.5s;
    z-index: 20;
}
.swiper-arrow:hover{
    color: #d0f53d;
}
.swiper-arrow:before,.swiper-arrow:active,.swiper-arrow:after{
    background-color: #ffffff00;
    animation: none;
    opacity: 0;
}
.swiper-arrow:before,
.swiper-arrow:after {
    content: none; 
}
.swiper-arrow:hover:before,
.swiper-arrow:hover:after,
.swiper-arrow:active:before,
.swiper-arrow:active:after {
    background-color: transparent; 
    animation: none; 
    opacity: 0; 
}
.left-arrow {
    left: 0;
    padding-left: 20px;
    text-align: left;
}
.right-arrow {
    right: 0;
    padding-right: 20px;
    text-align: right;
}
.thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 55px;
    align-items: center;
}
.thumb-split{
    display: flex;
    gap: 10px;
    align-items: center;
}
.thumbnail {
    width: 35px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 5px;
    border: rgb(188, 188, 188) 1px solid;
}
.thumbnail:hover {
    opacity: 1;
}
.row2nd{
    flex-basis: 100%; 
}
.product-preview p{
    font-size: 14px;
}
.colors{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 60px 0 0 0;
}
.color{
    width: 30%;
    height: 20vw;
    border-radius: 20px;
}
.color-text {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.557);
    margin: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;    
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.color-text:hover {
    opacity: 1;
}
.z{
    background-image: url(assets/wood\ black.jpg);
}
.y{
    background-image: url(assets/wood\ light.webp);
}
.x{
    background-image: url(assets/wood\ white.jpg);
}
.m, .n{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 40vw;
    height: 30vw;
}
.m{
    background-image: url(assets/specs\ 1.jpg);
}
.n{
    background-image: url(assets/specss\ 2.webp);
}
.j,.k,.l{
    background-size: cover;
    height: 30vw;
} 
.j{
    background-image: url(assets/item\ 1\ a.webp);
}
.k{
    background-image: url(assets/item\ 2\ a.webp);
}
.l{
    background-image: url(assets/item\ 3\ a.jpg);
}
.center{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
/* popup form */
.popup {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vw;
    color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}
.popup-content {
    background-color: #fff;
    margin: 10vh auto; 
    padding: 20px;
    border-radius: 8px;
    width: 400px; 
    position: relative;
    max-height: 80vh;
    overflow-y: auto; 
}
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
} 
.close:hover {
    color: #999;
}
form label {
    display: block;
    margin: 15px 0 5px;
}
form input, form select, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form button:hover {
    background-color: #45a049;
}
.check-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5PX;
}
.check-div label{
    margin: 0;
}
input[type="checkbox"] {
    width: auto !important;
    margin-top: 15px !important;
}
label{
    text-wrap: nowrap;
}
.list{
    margin-bottom: 10px;
}

/* Tablet styles */
@media (max-width: 600px) {
    .colors-section,.reason-section{
        padding:50px 0;
    }    
    section{
        max-width: 100vw;
    }
    .scroll-text span.fl {
        font-size: 30vw;
        left: 35%;
    }
    .scroll-text.scroll-text.bottom {
        left: 12%;
    }
    .scroll-text.top {
        bottom: -39vw;
        left: 12%;
    }
    .title, .end-title {
        font-size: 15vw;
        line-height: 90%;
    }
    .price{
        font-size: 6vw;
        padding: 0 40px;
        max-width: 70vw;
    }
    .reason-container {
        display: flex;
        align-items: stretch;
        gap: 2vw;
        flex-direction: column;
        margin: 20px 0;
    }
    p{
        max-width: none;
        font-size: 16px;
    }
    .reason-text {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0 30px;
    }
    h1{
        font-size: 55px;
        line-height: 110%;
        font-weight: 600;
    }
    h2{
        font-size: 40px;
        margin: 30px 0 10px 0;
    }
    h3{
        opacity: 0.8;
        font-size: 170px; 
        color: #02ffcc;
        animation: glowing 20s linear infinite;    
        position: relative;
        font-weight: 900; 
        line-height: 150px;
        margin-top: -80px; 
        margin-left: -60px;
    }
    .reason{
        width: 100vw;
        height: 40vh;
        margin: 0;
        border-radius: 0;
        background-attachment: local ;
    }
    .colors {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 60px 0 0 0;
        width: 100vw;
        gap: 20px;
    }
    .color{
        height: 30vw;
        margin: 0 20px;
        width: auto;
    }
    .smaller{
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        padding: 10px;
    }
    .z,.x, .y{
        margin: 0px;
        width: 30vw;
        border-radius: 50%;
        overflow: hidden;
    }
    .m,.n{
        height: 60vw;
    }
    .j,.k,.l{
        height: 80vw;
    }
    .verticle{
        display: block;
    }
    .horizontal{
        display: none;
    }
    .reason-section{
        padding: 50px 0;
    }
    .reasons{
        display: none;
        width: 100%;
        margin: 0;
    }
    .swiper-outer{
        max-width: 100vw;
        overflow: hidden;
        margin-top: -50px;
    }
    :root{
        --swiper-pagination-bullet-inactive-color: #fffff4;
        --swiper-pagination-bullet-inactive-opacity: 1;
        --swiper-pagination-color: #02ffcc;
    }    
    swiper-container {
        scale: 0.8;
        margin-bottom: -30px;
    }
    swiper-slide {
        height: 80vh;
        width: 100vw !important;
        background-color: #636262;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        padding: 0 0 40px 0;
        filter: brightness(0.5) blur(1px);
        transition: ease-in-out 0.2s;
    }
    .swiper-slide-active{
        filter: brightness(1) blur(0);
    }
    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        opacity: 0.5;
    }
    .swiper-pagination-bullet-active {
        background: #00ffd5 ;
        opacity: 1;
    }
    .products{
        margin: 20px 0;
    }
    .product-image,.product-video{
        height: 50vh;
    }
    .thumbnails{
        gap: 5px;
    }
    .thumb-split{
        flex-wrap: wrap;
    }
}
/* Desktop styles */
@media (min-width: 601px) and (max-width: 900px) {
    h3 {
        font-size: 20vw;
    }
    h2{
        font-size: 6vw;
    }
    button{
        font-size: 18px;
    }
    .reason{
        background-attachment: local;
    }
    .verticle{
        display: none;
    }
    .horizontal{
        display: block;
    }
}
