body{
    width: 100%;
    font-family: "Playwrite DE Grund", cursive;
    margin: 0;
    background-color: rgb(53, 51, 51);
    color: aliceblue;
    line-height: 230%;
}
::selection{
    background-color: cadetblue;
}
section{
    background-color: rgb(53, 51, 51);
    position: relative;
    z-index: 250;
}
.herosection{
    height: 400vh;
    position: relative;
}
.hero{
    height: 100vh;
    position: sticky;
    top: 0;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.wrapper{
    position: sticky;
    width: 100%;
    height: 100%;
}
.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 5; 
}
.logo-div{
    position: absolute;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.l-d-top{
    margin-bottom: -3px;
}
.logo-div-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    opacity: 1;
}
.up{
    width: 21vw;
    height: 6vw;
    padding-left: 10vw;
}
.down{
    width: 20vw;
    padding-right: 5vw;
    height: 6vw;
}
.desk, .flexi{
    width: 40vw;
}

.scroll-text{
    position: fixed;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 0;
    white-space: nowrap;
    z-index: 6;
}
.scroll-text span.fl {
    position: relative;
    display: inline-block;
    font-size: 15vw;
    line-height: 15vw;
    font-family: "Saira", sans-serif;
    font-weight: 900;
}
h1, h2, h3{
    font-family: "Saira", sans-serif;
    font-weight: 900;
    line-height: 130%;
}
h1{
    font-size: 10vw;
    margin: 40px 0;
}
h2{
    font-size: 45px;
    margin: 40px 0;
    font-weight: 200;
}
h3{
    margin: -40px 0;
    opacity: 0.1;
    font-size: 210px;
    margin-left: -150px;
    position: absolute;
}
.wrapper h1,.wrapper p{
    position: relative;
    z-index: 6;
}
.price{
    text-align: center;
    background-color: cadetblue;
    border-radius: 4px;
    margin: auto;
    font-style: italic;
    font-size: 3vw;
    line-height: 180%;
}
p {
    font-size: 20px;
    max-width: 900px;
    font-weight: 100;
}
.title, .end-title{
    font-size: 9vw;
    text-align: center;
    font-weight: 900;
    z-index: 6;
}  
.hero-end{
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    top: 50px;
}
.hero-end-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 6; 
}
.end-title, .hero-end button{
    z-index: 6;
}
.subhead{
    font-size: 5vw;
    text-align: center;
}
.scroll-text.bottom {
    font-weight: 600;
}
.scroll-text.top{
    bottom: -31vw;
}
.reason-section h1, .colors-section h1{
    padding: 0 20px;
}

/* background image reveal */
.reason-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 250px 0;
}
.reason-container {
    display: flex;
    align-items: center;
    width: 100vw;
}
.reason {
    height: 70vh;
    width: 70vw;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin: 20px;
    border-radius: 30px;
    box-shadow: #00000052 5px 3px 20px 3px;
    color: rgb(0, 0, 0);
    transition: ease-in-out 0.5;
}
.reason-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    max-width: 25vw; 
    padding-right: 20px;
}
.a {
    background-image: 
        radial-gradient(circle, rgba(255, 255, 255, 0.1) 30%, rgb(255, 255, 255) 100%), 
        url('assets/717r1XtzMGL._AC_UF894\,1000_QL80_.jpg');
}
.d {
    background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 30%, rgb(255, 255, 255) 100%), 
    url('assets/nickccal-standing-desk-12.jpeg');
}
.c {
    background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 30%, rgb(255, 255, 255) 100%), 
    url('assets/watchclos-standing-desk.jpg'); 
}
.b {
    background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 30%, rgb(255, 255, 255) 100%), 
    url('assets/sequel-lift-standing-desk-6152-BDI-executive-sit-stand-desk-walnut-hero-3200.webp');
}
.e {
    background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 30%, rgb(255, 255, 255) 100%), 
    url('assets/drakefrancissir-standing-desk-02.jpg'); 
}
.f {
    background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 30%, rgb(255, 255, 255) 100%), 
    url('assets/thomaswde-standing-desk-08.jpg'); 
}
.reason h2, .reason p {
    margin: 0;
    padding: 20px;
}
.backlight{
    z-index: 1;
    padding: 20px;
    border-radius: 10px; 
}
.backlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.361);  */
    filter: blur(20px);
    z-index: -1; 
    border-radius: 10px; 
}
/* button{
    padding: 20px 50px;
    border-radius: 10px;
    background-color: black;
    color: inherit;
    cursor: pointer;
    margin: 30px 0;
    transition: ease 0.5s;
    font-size: 25px;
    font-weight: 200;
    border: none;
    font-family: "Saira", sans-serif;
}
button:hover{
    background-color: cadetblue;
    color: #000000;
} */
button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button:active {
    color: #000
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* youtube */
video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.verticle{
    display: none;
    /* position: fixed; */
}
.horizontal{
    display: block;
}
.colors{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 60px 0 0 0;
}
.color{
    width: 30%;
    height: 20vw;
    border-radius: 20px;
}
.color-text {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.557);
    margin: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;    
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.color-text:hover {
    opacity: 1;
}
.z{
    background-image: url(assets/wood\ black.jpg);
}
.y{
    background-image: url(assets/wood\ light.webp);
}
.x{
    background-image: url(assets/wood\ white.jpg);
}
.m, .n{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 40vw;
    height: 30vw;
}
.m{
    background-image: url(assets/specs\ 1.jpg);
}
.n{
    background-image: url(assets/specss\ 2.webp);
}
.j,.k,.l{
    background-size: cover;
    height: 30vw;
} 
.j{
    background-image: url(assets/item\ 1\ a.webp);
}
.k{
    background-image: url(assets/item\ 2\ a.webp);
}
.l{
    background-image: url(assets/item\ 3\ a.jpg);
}
.center{
    display: flex;
    justify-content: center;
}
/* Tablet styles */
@media (max-width: 600px) {
    section{
        max-width: 100vw;
    }
    .scroll-text span.fl {
        font-size: 30vw;
        left: 35%;
    }
    .scroll-text.scroll-text.bottom {
        left: 12%;
    }
    .scroll-text.top {
        bottom: -39vw;
        left: 12%;
    }
    .title, .end-title {
        font-size: 15vw;
        line-height: 90%;
    }
    .price{
        font-size: 6vw;
        padding: 0 40px;
        max-width: 70vw;
        /* margin: 0 auto; */
    }
    .reason-container {
        display: flex;
        align-items: stretch;
        gap: 2vw;
        flex-direction: column;
        margin: 20px 0;
    }
    .reason-text{
        max-width: none;
    }
    p{
        max-width: none;
        font-size: 16px;
    }
    .reason-text {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0 30px;
    }
    h1{
        text-transform: uppercase;
        font-size: 55px;
        line-height: 110%;
        font-weight: 600;
    }
    h2{
        font-size: 40px;
        margin: 30px 0 10px 0;
    }
    h3{
        margin-left: -90px;
        opacity: 0.5;
        font-size: 20px;
        color: #000;
        position: relative;
    }
    .reason{
        width: 100vw;
        height: 40vh;
        margin: 0;
        border-radius: 0;
        background-attachment: local ;
    }
    .colors {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 60px 0 0 0;
        width: 100vw;
        gap: 20px;
    }
    .color{
        height: 30vw;
        margin: 0 20px;
        width: auto;
    }
    .m,.n{
        height: 60vw;
    }
    .j,.k,.l{
        height: 80vw;
    }
    .verticle{
        display: block;
    }
    .horizontal{
        display: none;
    }
    .reason-section{
        padding: 50px 0;
    }
    .reasons{
        display: none;
        width: 100%;
        margin: 0;
    }
    .swiper-outer{
        max-width: 100vw;
        overflow: hidden;
        margin-top: -50px;
    }
    swiper-container {
        scale: 0.8;
        margin-bottom: -30px;
    }
    swiper-slide {
        height: 80vh;
        width: 100vw !important;
        background-color: #636262;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        padding: 0 0 40px 0;
        filter: brightness(0.5) blur(1px);
        transition: ease-in-out 0.2s;
    }
    .swiper-slide-active{
        filter: brightness(1) blur(0);
    }
    .swiper-pagination-bullet {
        background-color: #fff;
        width: 15px;
        height: 15px;
        opacity: 0.5;
    }
    .swiper-pagination-bullet-active {
        background-color: #000; /* Active slide circle */
        opacity: 1;
    }
      
}
/* Desktop styles */
@media (min-width: 601px) and (max-width: 900px) {
    swiper-outer{
        display: none;
    }
    h3 {
        font-size: 20vw;
    }
    h2{
        font-size: 6vw;
    }
    button{
        font-size: 18px;
    }
    .reason{
        background-attachment: local;
    }
    .verticle{
        display: none;
    }
    .horizontal{
        display: block;
    }
}
